/* font stle */
@font-face {
    font-family: "armalite";
    src: url(armalite.ttf) format("truetype"); 
    font-weight:normal;
}
/* background img */
body{
    background-image: url(./img/backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
   font-family: "armalite" ;
}
/* ------------------------------------head content------------------------------ */
.welcome{
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: rgb(150, 44, 44);
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
}
/* info alinment  */
.pic-info{
    margin-top: 1rem;;
    display:flex;
    align-items: center;
    flex-direction:column;
    padding-left:2rem;
}
/* style for text info */
 #info-Text{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: rgb(168, 39, 39);
    background-color: rgba(175, 182, 139, 0.582);
}
/* colors for specific characters */
#colorForIsreali{
    color: rgb(67, 148, 148);
}
#colorForR{
    color: rgb(99, 20, 20);
}
#colorForI{
    color: rgb(54, 116, 116);
}
#colorForE{
    color: rgb(99, 117, 133);
}
/* style for img of ahava  */
.mom{
    height: 5rem;
    width: 8rem;
    border: .05rem solid rgb(0, 0, 0);
   border-radius: 20px;
   transition: .7s;
}
/* hover for img of mom */
.mom:hover{
     height: 6rem;
     width: 10rem;
     box-shadow: 2px 2px 4px rgba(0, 195, 255, 0.582);
}
/* ----------------------------------all for main content ------------------------------------------- */
/* alin for all the childern */
.ChildrenRowOne{
    margin-left: 5rem;
    display: flex;
}
.ChildrenRowTwo{
    margin-left: 5rem;
    display: flex;
}
/* style for children */
.mike,.john,.imanuel, .sarah, .Ruth{
    display: flex;
    margin-right: 1rem;
}
/* posishon and style for childern */
.iner{
    background-color: rgba(240, 248, 255, 0.63);
    border-radius: 5px;
    width: 17rem;
}

/* main posishon for children  */
.mike-img, .john-img,.imanuel-img, .sarah-img, .ruth-img{
    margin-top: 2rem;
    height: 7.5rem;
    width:7.5rem;
    margin-right: 1rem;
    border-radius: 10px;
    border: .05rem solid black;
    transition: .5s;
}
.sarah-img{
    height: 8.5rem;
    width:7.5rem;
    margin-top: 1rem;
}
.sarah{
    margin-right: 2rem;
}
/* hover for  most of the childern  */
.mike-img:hover, .john-img:hover,.imanuel-img:hover{
    height: 10rem;
     width: 10rem;
}
/* hover bacground color  for mike*/
.mike-img:hover{
    box-shadow: 2px 2px 6px rgb(119, 7, 7);
}
/* hover bacground color  for john*/
.john-img:hover{
    box-shadow: 2px 2px 6px rgba(37, 167, 48, 0.548);
}
/* hover bacground color  for imanuel */
.imanuel-img:hover{
    box-shadow: 2px 2px 6px blue;
}
/* hover bacground color and sizing for sarah  */
.sarah-img:hover{
    box-shadow: 2px 2px 6px rgb(0, 217, 255);
    height: 12rem;
    width: 11rem;
  
}
/* hover for ruth */
.ruth-img:hover{
    box-shadow: 2px 6px 6px rgb(255, 255, 255);
    height: 11rem;
    width: 11rem;
}