/* font stle */
@font-face {
    font-family: "armalite";
    src: url(armalite.ttf) format("truetype"); 
    font-weight:normal;
}
@font-face {
    font-family: "milFont";
    src: url(./gunplay\ rg.ttf) format("truetype");
}
/* background img */
body{
    background-image: url(./img/backround.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
   font-family: "armalite" ;
}
/* ------------------------------------head content------------------------------ */
.welcome{
    display: flex;
    justify-content: center;
    font-weight: normal;
    color: rgb(150, 44, 44);
    text-decoration: underline;
    text-decoration-color: rgb(0, 0, 0);
}
/* info alinment  */
.pic-info{
    margin-top: 1rem;;
    display:flex;
    align-items: center;
    flex-direction:column;
    padding-left:2rem;
}
/* style for text info */
 #info-Text{
    color: rgb(0, 0, 0);
    text-decoration: underline;
    text-decoration-color: rgb(168, 39, 39);
    background-color: rgba(175, 182, 139, 0.582);
}
/* colors for specific characters */
#colorForIsreali{
    color: rgb(67, 148, 148);
}
#colorForR{
    color: rgb(99, 20, 20);
}
#colorForI{
    color: rgb(54, 116, 116);
}
#colorForE{
    color: rgb(99, 117, 133);
}
/* style for img of ahava  */
.mom{
    height: 5rem;
    width: 8rem;
    border: .05rem solid rgb(0, 0, 0);
   border-radius: 20px;
   transition: .7s;
}
/* hover for img of mom */
.top-text{
    display: flex;
    justify-content: center;
}
.mom:hover{
     height: 7rem;
     width: 10rem;
     box-shadow: 2px 2px 4px rgba(0, 195, 255, 0.582);
}
/* ----------------------------------all for main content ------------------------------------------- */
/* alin for all the childern */
.ChildrenRowOne, .ChildrenRowTwo{
    font-family: "milFont";
    margin-left: 3rem;
    display: flex;
}
/* .ChildrenRowTwo{
    margin-top: 3rem;
    font-family: "milFont";
    margin-left: 3rem;
    display: flex;
} */
.lastChilde{
    font-family: "milFont";
    display: flex;
    justify-content: center;
}
/* style for children */
.mike,.john,.imanuel, .sarah, .Ruth,.Sam,.Ami,.noakh,.yesh{
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
}
/* posishon and style for childern */
.iner{
    background-color: rgba(240, 248, 255, 0.63);
    border-radius: 5px;
    width: 17rem;
}

/* main posishon for children  */
.mike-img, .john-img,.imanuel-img, .sarah-img, .ruth-img, .sam-img,.ami-img,.noakh-img,.yesh-img{
    margin-top: 2rem;
    height: 7.5rem;
    width:7.5rem;
    margin-right: 1rem;
    border-radius: 10px;
    border: .05rem solid black;
    transition: .5s;
}
.imanuel-img{
    height: 7rem;
    width: 8rem;
}
.sarah-img{
    height: 8.5rem;
    width:7.5rem;
    margin-top: 1rem;
}
.sam-img{
    height: 9rem;
    width: 8rem;
}
.ami-img{
    height: 9rem;
    width: 9rem;
}
.noakh-img{
    width: 9rem;
    height: 9rem;
}
.yesh-img{
    width: 8rem;
    height: 8rem;
}
.sarah{
    margin-right: 2rem;
}
/* hover for  most of the childern  */
.mike-img:hover, .john-img:hover,.imanuel-img:hover{
    height: 10rem;
     width: 10rem;
}
/* hover bacground color  for mike*/
.mike-img:hover{
    box-shadow: 2px 2px 6px rgb(255, 145, 0);
}
/* hover bacground color  for john*/
.john-img:hover{
    box-shadow: 2px 2px 6px rgba(37, 167, 48, 0.548);
}
/* hover bacground color  for imanuel */
.imanuel-img:hover{
    box-shadow: 2px 2px 6px blue;
}
/* hover bacground color and sizing for sarah  */
.sarah-img:hover{
    box-shadow: 2px 2px 6px rgb(0, 217, 255);
    height: 12rem;
    width: 11rem;
  
}
/* hover for ruth */
.ruth-img:hover{
    box-shadow: 2px 6px 6px rgb(255, 255, 255);
    height: 11rem;
    width: 11rem;
}

/* hover for sam */
.sam-img:hover{
    box-shadow: 2px 2px 6px orange;
    height: 11rem;
    width: 10rem;
}

/* hover for Ami */
.ami-img:hover{
    box-shadow: 2px 2px 6px rgb(255, 115, 0);
    height: 11rem;
    width: 11rem;;
}

/* hover for noakh */
.noakh-img:hover{
    box-shadow: 2px 2px 6px rgb(0, 0, 0);
    width: 11rem;
    height: 11rem;
}
/* hover for yesh */
.yesh-img:hover{
    box-shadow: 6px 2px 6px gray;
    width: 11rem;
    height: 11rem;
}
/* ----------------------------------------------------------video here ------------------------------------------------------- */
.birthday{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin: 0rem 35rem;
    background-color: rgba(255, 0, 0, 0.534);
    border: .1rem solid black;
}
/* style for video */
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* background-color: antiquewhite; */
}
/* style for videos */
iframe{
    border-radius: 20px;
    box-shadow: 6px 2px 6px rgba(0, 0, 0, 0.315);
}
/* style for text of other vids */
.text-otherVid{
    display: flex;
    justify-content: center;
    background-color: red;
    border: .2rem solid black;
    border-radius: 10px;
}
/* for the last videos */
.other-videos{
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}
/* -----------------------------------------info link herer------------------------------ */
.more-info{
    display: flex;
    justify-content: center;
    font-size: larger;
    padding: .5rem 0rem;
    margin: 5rem 20rem;
    background-color: rgba(240, 248, 255, 0.534);
    border: .1rem solid rgba(255, 0, 0, 0.466);
    font-family: "milFont";
    box-shadow: 6px 2px 6px rgba(141, 8, 8, 0.781);
}
/* style for on click */
#click{
    color: black;
    margin-left: .5rem;
    text-decoration: none;
    transition: .5s;
}
/* hover for on click */
#click:hover{
    margin-left: 2rem;
    background-color: rgba(179, 40, 35, 0.493);
    border-radius: 5px;
    border: .1rem solid black;
}
/* ---------------------------------------------------------scroll-bar for crom here ------------------------------------------------ */

::-webkit-scrollbar{
 width: 1.1rem;
}

::-webkit-scrollbar-track{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    margin-block: -.3rem;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255, 17, 0, 0.678);
    border-radius: 10px;
    border: .2rem solid rgb(0, 0, 0);
}

/* --------------------------------------------------scroll-bar for fier fox----------------------------------------- */
@supports (scrollbar-color: red blue) {
    * {
        scrollbar-color: rgba(255, 17, 0, 0.678)  rgb(0, 0, 0);
    }
}

/* ------------------------------------chang screen size for 1280px------------------------------------------------- */

@media only screen and (max-width: 1280px) {
  .ChildrenRowOne{
    flex-wrap: wrap;
  }

.Ami,.Ruth{
   flex-wrap: wrap;
 }
    .Ami{
        margin-top: -11.5rem;
    }
}

.birthday{
    margin: auto;
}

.more-info{
    margin: 5rem 3rem;
    padding: 1rem 2rem;
}
/* ----------------------------------------------chang screen for 1000px----------------------------------- */
@media screen and (max-width: 1000px){
    .ChildrenRowOne{
        display: flex;
        justify-content: center;
    }
    
    }   
/* ------------------------------------------chang sreen for 980px---------------------------------------------- */
@media only screen and (max-width: 980px){
   .ChildrenRowOne,.ChildrenRowTwo{
    display: flex;
    margin: auto;
   }
     .other-videos{
    flex-wrap: wrap;
  }
  
}
/* -----------------------------------------chang screen for 820px------------------------------------------------------ */
@media screen and (max-width: 820px) {
   .ChildrenRowOne{
    margin: auto;
   justify-content: center;
   }

   .ChildrenRowTwo{
    margin-left: -1rem;
   }
  .other-videos{
    flex-wrap: wrap;
  }
  .more-info{
    padding: 1rem 3rem;
  }
  
}

