* {
    background-color: black;
}
@font-face {
    font-family: "bob";
    src: url(/assets/antipasto.medium.ttf) format("truetype"); 
    font-weight:normal;
}
h1{
    background-color: rgb(255, 255, 255);
    font-family: "bob";
}