/* background img */
body{
    background-image: url(./img/stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    
}
/* font style */
@font-face {
    font-family: "milFont";
    src: url(./gunplay\ rg.ttf) format("truetype");
}
/* style for heder  */
header{
    display: flex;
    justify-content: center;
}
.iner-head{
    display: flex;
    flex-direction: column;
    align-items: center;
 
}
/* styel for go back button */
#backButton{
    font-family: "milFont";
    color: black;
    text-decoration: none;
    background-color: rgba(0, 255, 255, 0.308);
    border-radius: 5px;
    border: .1rem solid black;
    transition: .7s;
}
/* styel for hover  */
#backButton:hover{
    margin-left: 2rem;
    padding-top: 2rem;
}
/* style for name  */
.hello{
    background-color: rgba(28, 81, 128, 0.705);
    color: rgba(0, 0, 0, 0.658);
    border-radius: 10px;
    font-family: "milFont";
    border: .1rem solid rgba(255, 255, 255, 0.5);
    font-weight: 500;
}
/* style for icon */
.is-icon{
    padding-top: .5rem;
    width: 3rem;
    transition: .7s;
}
/* hover for is icon */
.is-icon:hover{
    box-shadow: 2px 2px 6px rgb(255, 255, 255);
    background-color: rgb(39, 45, 51);
    border-radius: 10px;
    width: 5rem;

}
/* style for img of ahava  */
.ahava{
    box-shadow: 2px 2px 6px rgb(255, 255, 255);
    width: 13rem;
    border-radius: 10px;
    opacity: .8;
}
/* style for grandmother */
.grandmother,.grampaStory{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: auto;
}
/* styel for grandfather */
.full-grampa{
    margin-top: 10rem;
    margin-right: -8rem;
    display: flex;
    flex-direction: column;
    align-items:center;
}
.grandfather-text, .grandmother-text{
    margin-top: .5rem;
    padding: .5rem .5rem;
    background-color: rgba(39, 168, 168, 0.377);
    border-radius: 10px;
    font-family: "milFont";
    border: .1rem solid white;
    font-weight: 100;
    font-size: 1.5rem;
}
/* grampa img style  */
.grampa-img, .grandmother-img{
    width: auto;
    height: 8rem;
    border-radius: 10px;
    box-shadow:2px 2px 6px rgb(75, 51, 21);
}
/* styel for grandmother sorry  */
.grandmotherStory{
    text-align: center;
}
/* grampa story style */
.grampaStory,.grandmotherStory{
    color: rgb(0, 0, 0);
    padding: .5rem;
    margin: 0rem 1rem;
    border-radius: 10px 10px 1px 1px;
    background-color: rgba(39, 168, 168, 0.377);
    font-family: "milFont";
    font-weight: 100;
}
/* the text in ( ) for grampa storry */
#will-be{
    background-color: rgba(240, 248, 255, 0.356);
    border-radius: 9px;
}
/* unerlin for grampa story */
u{
    background-color: rgba(235, 241, 247, 0.548);
    border-radius: 5px;
    /* border: .1rem solid rgba(255, 255, 255, 0.541); */
}
/* ------------------------------------------------info part starts ------------------------------------------------------------- */
.fromBerth{
    margin-top: 5rem;
    margin-right: 40rem;
}
.thebeginning,.birthOFCh{
    margin-right: 20rem;
    margin-left: 20rem;
    text-align: center;
}
.textOfBerth, .thebeginning,.birthOFCh,.textOfCh{
    background-color: rgba(245, 240, 240, 0.575);
    font-family: "milFont";
    font-weight: 100;
    border: .1rem solid black;
    border-radius: 2px;
    padding: .5rem;
}
#mosk, #Y-link, #J-link, #I-link,#SH-link,#R-link,#S-link,#A-link, #N-link,#YH-link{
    text-decoration: none;
    color: rgba(82, 209, 231, 0.5);
    background-color: rgba(0, 0, 0, 0.678);
    border-radius: 5px;
    margin: 0rem .3rem;
}
#is-link{
    text-decoration: none;
    color: rgba(0, 255, 255, 0.377);
   background-color: rgba(255, 255, 255, 0.486);
   border-radius: 5px;
}
#NY-link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.884);
    background-color: rgba(255, 255, 255, 0.486);
    border-radius: 5px;
}
#TS-link{
    text-decoration: none;
    color: rgba(233, 127, 127, 0.973);
    background-color: rgba(0, 0, 0, 0.486);
    border-radius: 5px;
}